header .navbar .navbar-inner, footer {
  background-color: #2c2d2f;
}
body {
  background-color: #fff;
  padding:40px;
  font-family: Arial,sans-serif
}
header .navbar .navbar-inner .container {
  padding:8px 0;
  width:1190px;
  font-size:13px;
}
.wrapper {
  background-color: #fff;
  border: 1px solid #999;
  min-height: 500px;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
}
.logo {
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}
.wrapper .lead {
  background-color: #eee;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding:10px 30px;
  text-indent: 30px;
}
header .navbar .navbar-inner {
  background-image: none;
  -webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
}
header .navbar .nav > li > a {
  padding: 3px 9px;
}
header .navbar .navbar-inner .nav > .active > a, 
header .navbar .navbar-inner .nav > .active > a:hover, 
header .navbar .navbar-inner .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #7b858a;
}
.boxie {
  width:370px;
  margin:0 0px 0 10px;
  float:left;
}
.row .boxie:first-child {
  margin-left:18px;
}
.boxie img {
  display: inline-block;
  line-height:20px;
  vertical-align: text-top;
  /*margin-top:;*/
}
.boxie .title {
  font-size: 15px;
  padding: 8px;
  margin: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
}
.boxie .pbody {
  padding:0 6px;
  font-size:13px;
  /*text-align: justify;*/
}
ul.pbody li {
  line-height: 15px;
  padding-top:3px;
  padding-bottom:3px;
}
footer {
  padding-top:10px;
  margin-top:30px;
  text-align: center;
  font-size:12px;
}
footer ul {
  margin-bottom: 0;
  margin:10px 0 0 0;
  padding:0 10px 10px 10px;
}
footer ul li {
  display: inline;
  padding: 0 2px;
}
footer ul li a {
  color: #999;
}
footer ul li a:hover, 
footer ul li a:focus,
footer ul li a:active {
  color: #eee;
  text-decoration: none;
}