header .navbar .navbar-inner, footer {
  background-color: #3e3e3e;
}
body {
  background-color: #e5e1de;
  padding:40px;
  font-family: Arial,sans-serif
}
header .navbar .navbar-inner .container {
  padding:8px 0;
  width:1190px;
  font-size:13px;
}
.wrapper {
  background-color: #fff;
  min-height: 500px;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.2),0 1px 10px rgba(0,0,0,0.2);
}
.logo {
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
}
.wrapper .lead {
  background-color: #e5e1de;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding:15px 40px;
  text-align: center;
}
.wrapper .lead .paragraph_lead{
  font-size: 17px;
  font-weight: bolder;
  color:#C10435;
}
header .navbar .navbar-inner {
  background-image: none;
  -webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
}
a {
  color: #DB0C41;
}
a:hover {
  color: #9E1B34;
text-decoration: underline;
}
header .navbar .nav > li > a {
  padding: 3px 9px;
  font-weight: bold;
}
header .navbar .navbar-inner .nav > .active > a, 
header .navbar .navbar-inner .nav > .active > a:hover, 
header .navbar .navbar-inner .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #C10435;
}
.boxie {
  width:370px;
  margin:0 0px 0 10px;
  float:left;
}
.row .boxie:first-child {
  margin-left:18px;
}
.boxie img {
  display: inline-block;
  line-height:20px;
  vertical-align: text-top;
  /*margin-top:;*/
}
 .boxie .title a {
color:#333;
 }
.boxie {
  margin-top:10px;
}
.boxie .title {
  font-weight: bold;
  font-size: 13px;
  padding: 10px 8px 8px 8px;
  margin: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e5e1de;
  line-height: 15px;
}
.boxie .title img {
  margin-top: -2px;
  padding-right:2px;
}
.boxie .pbody {
  padding:0 6px;
  font-size:13px;
  margin:0;
}
ul.pbody li {
  line-height: 15px;
  padding-top:3px;
  padding-bottom:3px;
}
footer {
  padding-top:10px;
  margin-top:30px;
  text-align: center;
  font-size:12px;
}
footer ul {
  margin-bottom: 0;
  margin:10px 0 0 0;
  padding:0 10px 10px 10px;
  color: #dfdbd8;
}
footer ul li {
  display: inline;
  padding: 0 2px;
}
footer ul li a {
  color: #dfdbd8;
}
footer ul li a:hover, 
footer ul li a:focus,
footer ul li a:active {
  color: #fff;
  text-decoration: none;
}

/* courses index page */
.tabbable {
  margin:0 20px;
}
#coursesTabs {
  margin-bottom: 0px;
}
#coursesTabs > li {
  font-weight: bold;
}
#coursesTabs > li > a {
  border-bottom: 0px;
}
#coursesTabs > .active > a, #coursesTabs > .active > a:hover > li > a {
  border:1px solid #ddd;
  border-bottom-color: transparent;
}
#tabContent {
  padding:25px 7px 7px;
  border:1px solid #ddd;
  border-top:0px;
  -webkit-border-radius: 0 0 4px 4px ;
  -moz-border-radius:  0 0 4px 4px;
  border-radius: 0 0 4px 4px ;
}
#overview h4:not(:first-child) {
  padding-top: 30px;
}
#overview h4 span {
  color: #333;
  text-decoration: underline;
}
#overview h4 small {
}
#overview ul {
  margin-left:10px;
}