body {
  background-color: #eee;
  padding:80px;
}
header .container{
  padding:8px 0;
}
header .navbar .navbar-inner {
  background-color: #FAFAFA;
  background-image: none;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 0 rgba(0,0,0,0.1),0 1px 10px rgba(0,0,0,0.1);
}
header .navbar .navbar-inner .nav > .active > a, 
header .navbar .navbar-inner .nav > .active > a:hover, 
header .navbar .navbar-inner .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.span9 {
  min-height: 500px;
  background-color: #ddd;
}
.span2 {
  min-height: 500px;
  margin:30px 0;
  background-color: #eee;
}
.span2 p, .span7 p {
  padding:10px;
}
