body, form, ul, li, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	}
body { 
	color: #ffffff; 
	font:12px "verdana", arial ,sans-serif;
	background: #000 url(images/back.png) repeat-x top left;
	}
img { 	
	border: none; 
	}
p {
	font-size: 1em;
	margin: 0 0 1em 0;
	}
abbr,acronym{
	border-bottom:1px dotted
	}
p.warning {
	font-weight: bold;
	color: red;
	}
p.center {
	text-align: center;
	}
input, select, textarea, th, td { 
	font-size: 1em; 
	}
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	}
a:hover {
	text-decoration: underline;
	}

#tabs { 
	margin-top: 10px;
	margin-bottom: 25px;
	position: relative;       
	display: inline-block; 
	text-align: left;
	width: 95%;
	} 
	
#container {
	position: absolute; 
	width: 99%; 
	text-align: center; 
	}
	
#center { 
	position: relative;
	margin-left: auto;
	margin-right: auto;
	}
	
#coursenavigation { 
	float: left; 
	width: 20%; 
	min-width: 185px;
    margin-left: -45px;
	}
	
#coursenavigation a {
	font-weight: normal;
	font-size: 10pt;
    width: 100%;
	}
	
#coursecontent { 
	float: right; 
	width: 80%; 
	}

.question {
	float: left; 
	width: 95%;
	border: #555 1px solid;
	margin-bottom: 10px; 
	padding: 10px;
	}
	
.code {
	width: 95%;
	padding: 10px;
	background: #222;
	font-family: Courier New, Courier, Fixed;
	}

.revealbutton {
	cursor: pointer; cursor: hand;
	}

.revealbutton,.answer {
	border: 1px #555 solid;
	background: #222;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
	}

.answer {
	text-align: left;
	display: none;
	}
.answer p {
	margin: 0px; 
	}

#examnsubmit {
	margin-bottom: 10px;
	float: left; 
	width: 100%;
	text-align:center;
	}

#courses button em.unchecked{
	vertical-align:middle;
	display:inline-block;
	height:16px;
	}

#courses .tablecontainer {
	min-width: 500px;
        width: 75%;
	}

#courses table{
	width: 100%;
	border-style: none;
	border-collapse: collapse;
	}
	
#courses table th{
	color: #050;
	background-color: #111;
	}

#courses table a{
	cursor: pointer; cursor: hand;
	}

#courses table td.check{
	text-align: right; 
	}
	
#courses table th.check{
	background-color: transparent;
	width: 50px; 
	}
	
#courses table th.level{
	width: 50px; 	
	}
	
#courses table th.points{
	width: 50px; 
	}
	
#courses table th.author{
	width: 100px; 
	}
	
#courses table th.completed{
	width: 50px; 
	}

#courses table em.checked{
	vertical-align:middle;
	margin:0 2px;
	display:inline-block;
	width:16px;
	height:16px;
	background-image: url(images/checkmark-icon.gif);      
	}

/* Header CSS (from SMF) */

#topbar {
    background: #1C1C1C;
    border: 1px solid #000000;
    box-shadow: 0 1px 2px #303030 inset;
    border-radius: 0 0 10px 10px;
    margin: 0;
    position: relative;
    height: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#memb_time {
    position: absolute;
    top: 12px;
    right: 30px;
}
#memb_time span {
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 11px;
    color: #a3a3a3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#user_area {
  float: left;
  width: 90%;
  position: relative;
}
#user_area p {
  position: absolute;
  left: 30px;
  top: 12px;
  color: #a3a3a3;
  font-size: 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#logo {
  margin: 0;
  padding: 10px;
  text-align: center;
}
#header {
  position: relative;
  height: 110px;
  overflow: hidden;
  background: none;
  clear: both;
}

/* Course Tree CSS */

li.tab {
font-size: 12pt;
}
ol.tree
{
    margin-top: 0px;
    margin-left: 48px;
    padding: 0 0 0 0px;
    width: 258px;
}
li
{
    position: relative;
    margin-left: -15px;
    list-style: none;
}
li.file.selected a{
    background-color: #444;
}
li a{
    color: #fff;
    padding-left: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
}
li.file a { background-image: url(images/document.png); }
li.exercises a { background-image: url(images/exercise.png); }
li.exam a { background-image: url(images/exam.png); }
li.file a, li.exercises a, li.exam a {
    padding-left: 18px;
    margin-left: 0px;
}
li.file a[href *= '.pdf']	{ background-image: url(images/document.png); }
li.file a[href *= '.html']	{ background-image: url(images/document.png); }
li.file a[href $= '.css']	{ background-image: url(images/document.png); }
li.file a[href $= '.js']	{ background-image: url(images/document.png); }
li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
li input + ol
{
    background: url(images/toggle-small-expand.png) 42px -3px no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px */
    height: 1em;
}
li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
li label
{
    background: url(images/folder-horizontal.png) 15px 1px no-repeat;
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
li input:checked + ol
{
    background: url(images/toggle-small.png) 42px 1px no-repeat;
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}
li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

#ranking table{
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}

#ranking table th{
    color: #050;
    background-color: #111;
}
